body{
    margin: 0;
    padding: 0;
    align-items: center;
}

h1{
    text-align: center;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    color: green;
}

img{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 20px;
}

.main{
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: red;
    border: none;
}
button:hover{
    background-color: blue;
    color: white;
}

@media (max-width: 600px) {
    img{
        width: 200px;
        height: 200px;
    }
}
@media (max-width: 400px) {
    img{
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 300px) {
    img{
        width: 100px;
        height: 100px;
    }
}
@media (max-width: 200px) {
    img{
        width: 80px;
        height: 80px;
    }
}
@media (max-width: 100px) {
    img{
        width: 50px;
        height: 50px;
    }
}
